@import "variables";

// media-queries

@mixin large-screen() {
  @media only screen and (max-width: 1200px){
    @content;
  }
}

@mixin medium-large-screen() {
  @media only screen and (min-width: 992px){
    @content;
  }
}

@mixin medium-screen() {
  @media only screen and (max-width: 991px){
    @content;
  }
}

@mixin medium-screen-about-up() {
  @media only screen and (min-width: 921px){
    @content;
  }
}

@mixin medium-screen-about() {
  @media only screen and (max-width: 920px){
    @content;
  }
}

@mixin medium-small-screen() {
  @media only screen and (min-width: 768px) and (max-width: 991px){
    @content;
  }
}

@mixin small-screen() {
  @media only screen and (max-width: 767px){
    @content;
  }
}

@mixin small-screen--up() {
  @media only screen and (min-width: 768px){
    @content;
  }
}

@mixin tiny-screen() {
  @media only screen and (max-width: 480px){
    @content;
  }
}

@mixin site-btn {
    padding: 19px 52px;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: $white;
    text-transform: uppercase;
    background-color: $yellow;
    border-radius: 3px;
    transition: background-color .7s;

    &:hover {
      background-color: #fcde75;
      color: #fff;
      text-decoration: none;
    }

    &:visited {
      color: #fff;
      text-decoration: none;
    }
  }

@mixin img-services {
  width: 72px;
  height: 72px;
  margin: 0 auto;
  border: 3px solid $yellow;
  border-radius: 50%;
}

@mixin img-about {
  margin: 0 auto;
  box-sizing: border-box;
  width: 182px;
  height: 182px;
  border: 7px solid $decoration-color-about;
  border-radius: 50%;
}

@mixin img-team {
  margin: 0 auto 25px auto;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-size: contain;
}

//fonts
@mixin site-h2 {
  font: 700 40px $first-font;
  text-transform: uppercase;
  text-align: center;
}

@mixin site-h3 {
  font: 700 18px $first-font;
  text-align: center;
}

@mixin site-h4 {
  font: italic 400 16px $second-font;
  text-align: center;
}

