//colors
$yellow: #fed136;
$white: #fff;
$black: #222;
$gray: #777;
$black-portfolio: #333;
$gray-portfolio: #737373;
$gray-copyright: #555;
$bg-color-portfolio: #f7f7f7;
$bg-color-team: #f9f9f9;
$decoration-color-about: #f1f1f1;



//sizes
$first-width: 1400px;
$second-width: 942px;

$img-radius-about: 168px;
$header-padding-bottom: 160px;

//fonts
$regular: 400;
$bold: 700;

$first-font: 'Montserrat', sans-serif;
$second-font: 'Droid Serif', serif;
$third-font: 'Roboto Slab', serif;

$tiny-font: 14px;
$small-font: 16px;
$medium-font: 18px;
$large-font: 40px;

$large-line-height: 75px;
