@import "../base/variables";
@import "../base/mixins";

.header {
  margin-bottom: 100px;
  padding: 45px 0 160px 0;
  background: url(../images/header-bg.jpg) no-repeat center bottom;
  background-size: cover;

  &__logo {
    padding-left: 15px;
  }

  &__top--wrap {
    max-width: $second-width + 30px;
    margin: 0 auto;
    padding: 0;
  }

  &__menu {
    padding-top: 5px;
  }

  &__menu--link {
    font-weight: $regular;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    transition: color .7s;

    &:hover {
      color: $yellow;
      background-color: transparent!important;
    }

    &:link {
      text-decoration: none;
      background: inherit!important;
    }
  }

  &__content {
    max-width: $second-width;
    margin: 207px auto 0 auto;
    color: $white;
    text-align: center;
    
    h2 {
      margin: -8px 0 30px 0;
      font-style: italic;
      font-size: 40px;
      font-family: 'Droid Serif', serif;
      text-align: center;
      text-transform: capitalize;

      @include tiny-screen() {
        font-size: 36px;
      }
    }

    h1 {
      margin: 0 0 48px 0;
      font-weight: 700;
      font-size: 75px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      text-transform: uppercase;

      @include tiny-screen() {
        font-size: 69px;
      }
    }
  }

  @include site-btn();
}

//bootstrap-settings modifications
.navbar {
  margin: 0;
  border: none;

  &-right {
    @include small-screen--up() {
      margin-right: 0;
    }
  }

  &-brand {
    height: auto;
    padding: 0;

    @include small-screen() {
      padding-left: 15px;
    }
  }

  &-nav {
    @include small-screen() {  margin: 10px 0 10px 0;  }

    li {
      @include medium-large-screen() {  margin-left: 42px;  }

      @include medium-small-screen() {  margin-left: 32px;  }
    }
  }

  &-nav li a {  padding: 0 !important;  }

  &-collapse {
    @include small-screen() {
      margin-top: 10px;
      border-top: 1px solid #ccc!important;
      box-shadow: none;
    }
  }

  &-toggle {
    margin: 0 15px 0 0;
    padding: 0;
    color: #fff;
    font-size: 30px;
    line-height: 24px;
    border: none;
  }
}

//js class
.fixed {
  background-color: $gray;
  border-radius: 3px;
  opacity: .8;
}
