@import "../base/variables";
@import "../base/mixins";

.services {
  max-width: $second-width;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 118px;

  @include small-screen() {
    padding-top: 50px;
    padding-bottom: 37px;
  }

  &__wrap {
    @include small-screen() {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin: 0;
    color: $black;
    line-height: 75px!important;

    @include site-h2();
  }

  &__subtitle {
    margin: 0 0 75px 0;
    color: $gray;

    @include small-screen() {
      margin-bottom: 35px;
    }

    @include site-h4();
  }

  &__ico--1 { background: url("../images/services-img-1.png") no-repeat center;

    @include img-services();
  }

  &__ico--2 { background: url("../images/services-img-2.png") no-repeat center;

    @include img-services();
  }

  &__ico--3 { background: url("../images/services-img-3.png") no-repeat center;

    @include img-services();
  }

  &__product--name {
    margin: 0;
    line-height: 60px!important;

    @include site-h3();

    a {  color: $black;  }
  }

  &__product--description {
    margin: 0;
    font: 400 14px $third-font;
    line-height: 22px!important;
    color: $gray;
    text-align: center;
  }
}